<!doctype html>
<html lang="en" xmlns:th="https://www.thymleaf.com">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Book Store</title>
    <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
    <style>
        .card-deck {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    
        .card {
            margin-bottom: 20px;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">BookStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="avaliable_books">Available Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="my_books">My Books</a>
                    </li>

                </ul>
                <div>
                    <a class="nav-link text-white" href="book_register">New Book Register</a>
                </div>

            </div>
        </div>
    </nav>

   
    <div class="container my-5 col-md-6">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="b :${book}">
                    <td th:text="${b.id}"></td>
                    <td th:text="${b.name}"></td>
                    <td th:text="${b.author}"></td>
                    <td th:text="${b.price}"></td> 
                    <td><a class="btn btn-secondary btn-sm" th:href="@{/mylist/{id}(id=${b.id})}">Add To Mybook</a> 
                    <a style="color:blue" th:href="@{/editBook/{id}(id=${b.id})}"><i class="fa-solid fa-pen-to-square ms-4"></i></a>
                    <a style="color:red" th:href="@{/deleteBook/{id}(id=${b.id})}"><i class="fa-solid fa-trash ms-4"></i></a>
                    </td> 
                    
                  </tr>

            </tbody>
        </table>

    </div> <!-- d-flex justify-content-end
  

    <div class="row container my-5">
        <div class="col-md-6 offset-md-3">
            <div class="card-deck mx-auto">
                <div th:each="b :${book}" class="card" style="width: 10rem;">
                    <div class="card-body">
                        <p class="card-text  d-flex justify-content-end" th:text="${b.likeCount}"></p>
                        <h5 class="card-title" th:text="${b.name}"></h5>
                        <p class="card-text" th:text="${b.author}"></p>
                        <p class="card-text" th:text="${b.price}"></p>
                        <a class="btn btn-secondary btn-sm" th:href="@{/mylist/{id}(id=${b.id})}">Add To Mybook</a> 
                        <a style="color:blue" th:href="@{/editBook/{id}(id=${b.id})}"><i class="fa-solid fa-pen-to-square ms-4"></i></a>
                        <a style="color:red" th:href="@{/deleteBook/{id}(id=${b.id})}"><i class="fa-solid fa-trash ms-4"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      -->
    
    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>